// typischer alle Anweisungen mit Type-Selektoren

* {
    box-sizing: border-box;
}

body {
    display: grid;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    gap: 12px;
    justify-content: center;
    justify-items: center;
    align-items: center;

    height: 48px;
}

header {
    display: grid;
    justify-items: center;
    width: 100%;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: "+";
    text-align: end;
}


