.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    justify-items: center;
    align-items: start;
    margin-bottom: 24px;
    padding-x: 8px;
}

.skills__web {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.skills__text {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.skills__title {
    margin: 4px;
    padding: 8px;
    border: 1px solid hotpink;
    border-radius: 4px;
}

 .skills__skill {
     padding: 8px;
 }

