.contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    justify-items: center;
    align-items: center;

    padding: 4px;

    font-size: 2rem;
}

.contact__logo {
    width: 100%;
}