// typischer alle Anweisungen mit Type-Selektoren

* {
    box-sizing: border-box;
}

body {
    display: grid;
    font-family: var(--webfonts);
    margin: 0;
    padding: 0;
} 

nav {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    gap: 12px;
    justify-content: center;
    justify-items: center;
    align-items: center;

    height: 48px;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    justify-items: center;
    width: 100%;
}

//funktioniert nicht in Firefox
summary::-webkit-details-marker {
    display: none;
}
/*
summary::after {
    content: "+";
    text-align: end;
}*/


